body {
    background-color: #f0f0f0;
    text-align: center;
}
h1 {
    color: #000000; 
    border: 2px solid Tomato;
    text-align: center;
    margin: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}
ul { 
    list-style-type: none;
}
a {
    color: black
}
li{
    padding:5px;
    margin: 15px;
    text-align: left;
    padding-left: 450px;
}
.add-todo{
    color: #ff6347;
}